/.SmaCQADescriptionLabelProvider.java._trace
/.SmaCQADescriptionLabelProvider.xtendbin
/.SmaCQALabelProvider.java._trace
/.SmaCQALabelProvider.xtendbin
/SmaCQADescriptionLabelProvider.java
/SmaCQALabelProvider.java
